<div class="container" fxLayout="column">
<div class="item item-6" fxFlex="1 1 100%"> <app-menu></app-menu></div>
<div>
  <div class="container" fxLayout="row">

    <div class="item item-1" fxFlex="1 1 10em">
      <app-interface-explorer></app-interface-explorer>
    </div>
 

    <div class="container" fxLayout="column" fxFlex="1 1 100%">
      <div class="item item-2">
        Connection path:
      </div>
      <div class="item item-3">
        <app-function-viewer></app-function-viewer>

      </div>
      <div class="item item-4">
        <app-parameters></app-parameters>
      </div>
      <div class="item item-5">
        <app-output></app-output>
      </div>
    </div>
  </div>
</div>
</div>