<!--mat-action-list *ngFor = "let i of interfaces">
    <button mat-list-item > {{i.name}} </button>
    <mat-action-list *ngFor = "let f of i.methods" >
        <button class="Methods" 
            *ngIf = "f.key.type == 'Identifier'" 
            (click)="OnMethodSelected(i,f)"
            mat-list-item> 
                {{f.key.name}}
        </button>
    </mat-action-list>
</mat-action-list-->

<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <!-- This is the tree node template for leaf nodes -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding (click)="filterDevices(node)">
      <!-- use a disabled button to provide padding for tree leaf -->
      <button mat-icon-button disabled></button>
      {{node.name}}
    </mat-tree-node>
    <!-- This is the tree node template for expandable nodes -->
    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding (click)="filterDevices(node)">
      <button mat-icon-button matTreeNodeToggle
              [attr.aria-label]="'Toggle ' + node.name">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      {{node.name}}
    </mat-tree-node>
  </mat-tree>
